services:
  claude-offline-cpu:
    build:
      context: .
      dockerfile: cpu.Dockerfile
    container_name: claude-offline-cpu
    ports:
      - "8080:8080"
    volumes:
      - ./models:/app/models
    command: >
      --host 0.0.0.0
      --port 8080
      --model /app/models/Qwen3-Coder-Next-UD-IQ1_S.gguf
      --alias "qwen3-coder-next"
      --n-gpu-layers 0
      --ctx-size 20000
      --threads 8
    restart: unless-stopped
  claude-offline-gpu:
    container_name: claude-offline-gpu
    build:
      context: .
      dockerfile: gpu.Dockerfile
    ports:
      - "8080:8080"
    volumes:
      - ./models:/app/models
    gpus:
      - driver: nvidia
        count: all
        capabilities: [gpu]
    command: >
      --host 0.0.0.0
      --port 8080
      --model /app/models/Qwen3-Coder-Next-UD-IQ1_S.gguf
      --alias "qwen3-coder-next"
      --ctx-size 20000
      --threads 8
      --n-gpu-layers 20
    restart: unless-stopped
